.jumbotron {
    background-image: url('../images/black.jpg');
    background-size: cover;
}

body {
    background-image: url('../images/middleearth.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Marck Script', cursive !important;
    color: tan !important;
    font-size: 90px !important;
}

.btn-primary,.reset{
	background-color: black;
	color: tan;
	font-family: 'Marck Script', cursive !important;
	font-size: 30px;
	padding: 10px;
    margin-top: 100px;
}
.btn-primary:hover, .reset:hover{
    background-color: black;
    color: gold;
    cursor: pointer;
}

#mainsection{
	margin-top: 50px;
	text-align: center;
	height: 100%;
    width: 700px;
    background-color: tan;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
    border-style: double;
    border-color: black;
    border-width: 3px;
}

h2, #message, #finalMessage{
	font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 50px;
}

.thisChoice:hover{
	background-color: black;
	color: tan;
    padding: 5px;
}

#gif{
	margin: 30px;
}

